body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blog-editor-quill {
  height: 300px;
}

.blog-editor-quill .ql-container {
  min-height: 250px;
}

.blog-content img {
  max-width: 100%;
  height: auto;
}